.normal {
    background-color: #a8a77a;
    color: var(--white);
}

.fighting {
    background-color: #c22e28;
    color: var(--white);
}

.flying {
    background-color: #a890f0;
    color: var(--white);
}

.poison {
    background-color: #a33ea1;
    color: var(--white);
}

.ground {
    background-color: #e2bf65;
    color: var(--white);
}

.rock {
    background-color: #b8a038;
    color: var(--white);
}

.bug {
    background-color: #a8b820;
    color: var(--white);
}

.ghost {
    background-color: #705898;
    color: var(--white);
}

.steel {
    background-color: #b8b8d0;
    color: var(--white);
}

.fire {
    background-color: #ee8130;
    color: var(--white);
}

.water {
    background-color: #6390f0;
    color: var(--white);
}

.grass {
    background-color: #7ac74c;
    color: var(--white);
}

.electric {
    background-color: #f7d02c;
    color: var(--white);
}

.psychic {
    background-color: #f85888;
    color: var(--white);
}

.ice {
    background-color: #96d9d6;
    color: var(--white);
}

.dragon {
    background-color: #7038f8;
    color: var(--white);
}

.dark {
    background-color: #705746;
    color: var(--white);
}

.fairy {
    background-color: #ee99ac;
    color: var(--white);
}
