.pagination {
    display: flex;
    justify-content: flex-end;
    margin: 0 var(--spacer-5) var(--spacer-4) 0;
}

.pokemon-list {
    /* display: grid;
    grid-template-columns: 21% 21% 21% 21% 21%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
