.button-align {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.align {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.button {
    display: flex;
    flex-direction: row;
}
