.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 300;

    h1 {
        font-size: var(--text-8);
        margin-bottom: var(--spacer-2);
    }

    &__message {
        color: var(--gray-500);
        font-size: var(--text-2);
        font-weight: 400;
    }
}
