hot-menu {
    a {
        text-decoration: none;
    }

    hot-menu-item {
        text-decoration: none;
    }
}

._rounded-circle {
    border-radius: 50%;
}

.icon-label--menu-style {
    color: var(--gray-500);

    + span {
        color: var(--gray-700);
    }
}
