:root {
    --structure-menu-burger-color: #355cc0;
    --gray-500: #707780;
    --gray-700: #32363b;
    --spacer-4: 16px;
    --structure-menu-item-bg: #f0f4ff;
    --structure-menu-item-color: #355cc0;
}
